<h1>Objective :</h1>
<h3> The goal is to analyze global pollution data and develop strategies for pollution reduction and converting pollutants into energy. The dataset will be used for both data preprocessing and building regression models to predict energy recovery from pollution levels</h3>

<h1>Phase 1<br>Data Collection and Exploratory Data Analysis (EDA)</h1>contains 3 steps

<h3>Step 1 - Data Import and Preprocessing
</h3>

In [81]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, LabelEncoder
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, ConfusionMatrixDisplay, roc_curve, auc, RocCurveDisplay
from scipy import stats

In [82]:
data=pd.read_csv('Global_Pollution_Analysis.csv')
d=data.copy()
d.head()

,Country,Year,Air_Pollution_Index,Water_Pollution_Index,Soil_Pollution_Index,Industrial_Waste (in tons),Energy_Recovered (in GWh),CO2_Emissions (in MT),Renewable_Energy (%),Plastic_Waste_Produced (in tons),Energy_Consumption_Per_Capita (in MWh),Population (in millions),GDP_Per_Capita (in USD)
0,Hungary,2005,272.70,124.27,51.95,94802.83,158.14,5.30,41.11,37078.88,12.56,42.22,20972.96
1,Singapore,2001,86.72,60.34,117.22,56283.92,498.04,6.34,36.44,33128.20,5.23,137.25,34850.41
2,Romania,2016,91.59,83.36,121.72,56256.02,489.51,49.69,9.38,18803.46,13.15,124.47,57773.15
3,Cook Islands,2018,280.61,67.16,93.58,74864.73,145.18,8.91,18.97,9182.27,0.78,67.80,21837.51
4,Djibouti,2008,179.16,127.53,121.55,76862.06,40.38,14.93,34.00,39235.12,12.84,186.52,41379.37

In [83]:
d.isnull().sum()

Country                                   0
Year                                      0
Air_Pollution_Index                       0
Water_Pollution_Index                     0
Soil_Pollution_Index                      0
Industrial_Waste (in tons)                0
Energy_Recovered (in GWh)                 0
CO2_Emissions (in MT)                     0
Renewable_Energy (%)                      0
Plastic_Waste_Produced (in tons)          0
Energy_Consumption_Per_Capita (in MWh)    0
Population (in millions)                  0
GDP_Per_Capita (in USD)                   0
dtype: int64

Null values do not exist in any column<br>
Now checking for incorrect data

In [84]:
if pd.api.types.is_float_dtype(d['Year']):
    d['Year'] = d['Year'].round().astype(int)

if pd.api.types.is_numeric_dtype(d['Air_Pollution_Index']):
    d['Air_Pollution_Index'] = d['Air_Pollution_Index'].astype(float)
d.loc[d['Air_Pollution_Index'] < 0, 'Air_Pollution_Index'] = abs(d['Air_Pollution_Index'])

if pd.api.types.is_numeric_dtype(d['Water_Pollution_Index']):
    d['Water_Pollution_Index'] = d['Water_Pollution_Index'].astype(float)
d.loc[d['Water_Pollution_Index'] < 0, ''] = abs(d['Water_Pollution_Index'])

if pd.api.types.is_numeric_dtype(d['Soil_Pollution_Index']):
    d['Soil_Pollution_Index'] = d['Soil_Pollution_Index'].astype(float)
d.loc[d['Soil_Pollution_Index'] < 0, ''] = abs(d['Soil_Pollution_Index'])

if pd.api.types.is_numeric_dtype(d['Industrial_Waste (in tons)']):
    d['Industrial_Waste (in tons)'] = d['Industrial_Waste (in tons)'].astype(float)
d.loc[d['Industrial_Waste (in tons)'] < 0, ''] = abs(d['Industrial_Waste (in tons)'])

if pd.api.types.is_numeric_dtype(d['Energy_Recovered (in GWh)']):
    d['Energy_Recovered (in GWh)'] = d['Energy_Recovered (in GWh)'].astype(float)
d.loc[d['Energy_Recovered (in GWh)'] < 0, ''] = abs(d['Energy_Recovered (in GWh)'])

if pd.api.types.is_numeric_dtype(d['CO2_Emissions (in MT)']):
    d['CO2_Emissions (in MT)'] = d['CO2_Emissions (in MT)'].astype(float)
d.loc[d['CO2_Emissions (in MT)'] < 0, ''] = abs(d['CO2_Emissions (in MT)'])

if pd.api.types.is_numeric_dtype(d['Renewable_Energy (%)']):
    d['Renewable_Energy (%)'] = d['Renewable_Energy (%)'].astype(float)
d.loc[d['Renewable_Energy (%)']<0, 'Renewable_Energy (%)'] = 0
d.loc[d['Renewable_Energy (%)']>100, 'Renewable_Energy (%)'] = 100

if pd.api.types.is_numeric_dtype(d['Plastic_Waste_Produced (in tons)']):
    d['Plastic_Waste_Produced (in tons)'] = d['Plastic_Waste_Produced (in tons)'].astype(float)
d.loc[d['Plastic_Waste_Produced (in tons)'] < 0, ''] = abs(d['Plastic_Waste_Produced (in tons)'])

if pd.api.types.is_numeric_dtype(d['Energy_Consumption_Per_Capita (in MWh)']):
    d['Energy_Consumption_Per_Capita (in MWh)'] = d['Energy_Consumption_Per_Capita (in MWh)'].astype(float)
d.loc[d['Energy_Consumption_Per_Capita (in MWh)'] < 0, ''] = abs(d['Energy_Consumption_Per_Capita (in MWh)'])

if pd.api.types.is_numeric_dtype(d['Population (in millions)']):
    d['Population (in millions)'] = d['Population (in millions)'].astype(float)
d.loc[d['Population (in millions)'] < 0, 'Population (in millions)'] = abs(d['Population (in millions)'])

if pd.api.types.is_numeric_dtype(d['GDP_Per_Capita (in USD)']):
    d['GDP_Per_Capita (in USD)'] = d['GDP_Per_Capita (in USD)'].astype(float)
d.loc[d['GDP_Per_Capita (in USD)'] < 0, 'GDP_Per_Capita (in USD)'] = abs(d['GDP_Per_Capita (in USD)'])

In [85]:
d

,Country,Year,Air_Pollution_Index,Water_Pollution_Index,Soil_Pollution_Index,Industrial_Waste (in tons),Energy_Recovered (in GWh),CO2_Emissions (in MT),Renewable_Energy (%),Plastic_Waste_Produced (in tons),Energy_Consumption_Per_Capita (in MWh),Population (in millions),GDP_Per_Capita (in USD),
0,Hungary,2005,272.70,124.27,51.95,94802.83,158.14,5.30,41.11,37078.88,12.56,42.22,20972.96,NaN
1,Singapore,2001,86.72,60.34,117.22,56283.92,498.04,6.34,36.44,33128.20,5.23,137.25,34850.41,NaN
2,Romania,2016,91.59,83.36,121.72,56256.02,489.51,49.69,9.38,18803.46,13.15,124.47,57773.15,NaN
3,Cook Islands,2018,280.61,67.16,93.58,74864.73,145.18,8.91,18.97,9182.27,0.78,67.80,21837.51,NaN
4,Djibouti,2008,179.16,127.53,121.55,76862.06,40.38,14.93,34.00,39235.12,12.84,186.52,41379.37,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Latvia,2004,115.84,78.75,42.34,49503.35,81.23,4.85,17.38,4065.66,6.28,92.96,14818.18,NaN
196,Bangladesh,2002,121.82,120.97,63.95,74694.68,25.89,46.22,16.56,36905.26,15.18,114.02,59238.04,NaN
197,Korea,2011,149.73,146.92,37.04,2818.85,293.27,38.46,38.36,24700.29,14.11,183.06,28895.94,NaN
198,Vanuatu,2002,237.20,113.63,101.96,68746.82,305.61,28.82,32.17,1443.62,12.44,40.65,17068.01,NaN
199,Croatia,2010,135.50,158.43,89.80,36182.44,172.24,5.55,45.96,45405.35,11.72,166.62,30304.59,NaN

In [86]:
s=StandardScaler()
d['Air_Pollution_Index_Scaled'] = s.fit_transform(d[['Air_Pollution_Index']])
d['Water_Pollution_Index_Scaled'] = s.fit_transform(d[['Water_Pollution_Index']])
d['Soil_Pollution_Index_Scaled'] = s.fit_transform(d[['Soil_Pollution_Index']])

In [87]:
d

,Country,Year,Air_Pollution_Index,Water_Pollution_Index,Soil_Pollution_Index,Industrial_Waste (in tons),Energy_Recovered (in GWh),CO2_Emissions (in MT),Renewable_Energy (%),Plastic_Waste_Produced (in tons),Energy_Consumption_Per_Capita (in MWh),Population (in millions),GDP_Per_Capita (in USD),,Air_Pollution_Index_Scaled,Water_Pollution_Index_Scaled,Soil_Pollution_Index_Scaled
0,Hungary,2005,272.70,124.27,51.95,94802.83,158.14,5.30,41.11,37078.88,12.56,42.22,20972.96,NaN,1.376167,0.193880,-0.619764
1,Singapore,2001,86.72,60.34,117.22,56283.92,498.04,6.34,36.44,33128.20,5.23,137.25,34850.41,NaN,-1.403578,-1.153098,1.028744
2,Romania,2016,91.59,83.36,121.72,56256.02,489.51,49.69,9.38,18803.46,13.15,124.47,57773.15,NaN,-1.330788,-0.668076,1.142400
3,Cook Islands,2018,280.61,67.16,93.58,74864.73,145.18,8.91,18.97,9182.27,0.78,67.80,21837.51,NaN,1.494394,-1.009403,0.431675
4,Djibouti,2008,179.16,127.53,121.55,76862.06,40.38,14.93,34.00,39235.12,12.84,186.52,41379.37,NaN,-0.021926,0.262567,1.138106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Latvia,2004,115.84,78.75,42.34,49503.35,81.23,4.85,17.38,4065.66,6.28,92.96,14818.18,NaN,-0.968336,-0.765207,-0.862482
196,Bangladesh,2002,121.82,120.97,63.95,74694.68,25.89,46.22,16.56,36905.26,15.18,114.02,59238.04,NaN,-0.878956,0.124351,-0.316683
197,Korea,2011,149.73,146.92,37.04,2818.85,293.27,38.46,38.36,24700.29,14.11,183.06,28895.94,NaN,-0.461800,0.671106,-0.996342
198,Vanuatu,2002,237.20,113.63,101.96,68746.82,305.61,28.82,32.17,1443.62,12.44,40.65,17068.01,NaN,0.845568,-0.030300,0.643326
199,Croatia,2010,135.50,158.43,89.80,36182.44,172.24,5.55,45.96,45405.35,11.72,166.62,30304.59,NaN,-0.674489,0.913617,0.336204

In [88]:
le = LabelEncoder()
d['Country_Label'] = le.fit_transform(d['Country'])
d['Year_Label'] = le.fit_transform(d['Year'])
# Assigns each unique value in the column a unique integer
# so that machine learning models can use it effectively

In [89]:
d

,Country,Year,Air_Pollution_Index,Water_Pollution_Index,Soil_Pollution_Index,Industrial_Waste (in tons),Energy_Recovered (in GWh),CO2_Emissions (in MT),Renewable_Energy (%),Plastic_Waste_Produced (in tons),Energy_Consumption_Per_Capita (in MWh),Population (in millions),GDP_Per_Capita (in USD),,Air_Pollution_Index_Scaled,Water_Pollution_Index_Scaled,Soil_Pollution_Index_Scaled,Country_Label,Year_Label
0,Hungary,2005,272.70,124.27,51.95,94802.83,158.14,5.30,41.11,37078.88,12.56,42.22,20972.96,NaN,1.376167,0.193880,-0.619764,77,5
1,Singapore,2001,86.72,60.34,117.22,56283.92,498.04,6.34,36.44,33128.20,5.23,137.25,34850.41,NaN,-1.403578,-1.153098,1.028744,147,1
2,Romania,2016,91.59,83.36,121.72,56256.02,489.51,49.69,9.38,18803.46,13.15,124.47,57773.15,NaN,-1.330788,-0.668076,1.142400,136,16
3,Cook Islands,2018,280.61,67.16,93.58,74864.73,145.18,8.91,18.97,9182.27,0.78,67.80,21837.51,NaN,1.494394,-1.009403,0.431675,38,18
4,Djibouti,2008,179.16,127.53,121.55,76862.06,40.38,14.93,34.00,39235.12,12.84,186.52,41379.37,NaN,-0.021926,0.262567,1.138106,46,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Latvia,2004,115.84,78.75,42.34,49503.35,81.23,4.85,17.38,4065.66,6.28,92.96,14818.18,NaN,-0.968336,-0.765207,-0.862482,92,4
196,Bangladesh,2002,121.82,120.97,63.95,74694.68,25.89,46.22,16.56,36905.26,15.18,114.02,59238.04,NaN,-0.878956,0.124351,-0.316683,13,2
197,Korea,2011,149.73,146.92,37.04,2818.85,293.27,38.46,38.36,24700.29,14.11,183.06,28895.94,NaN,-0.461800,0.671106,-0.996342,88,11
198,Vanuatu,2002,237.20,113.63,101.96,68746.82,305.61,28.82,32.17,1443.62,12.44,40.65,17068.01,NaN,0.845568,-0.030300,0.643326,170,2
199,Croatia,2010,135.50,158.43,89.80,36182.44,172.24,5.55,45.96,45405.35,11.72,166.62,30304.59,NaN,-0.674489,0.913617,0.336204,41,10

<h3>Step 2 - Exploratory Data Analysis (EDA)</h3>

In [90]:
# 'CO2_Emissions (in MT)' column
mean_co2 = d['CO2_Emissions (in MT)'].mean()
mode_co2 = stats.mode(d['CO2_Emissions (in MT)'], keepdims=True).mode[0]
median_co2 = d['CO2_Emissions (in MT)'].median()
std_co2 = d['CO2_Emissions (in MT)'].std()
var_co2 = d['CO2_Emissions (in MT)'].var()
min_co2 = d['CO2_Emissions (in MT)'].min()
max_co2 = d['CO2_Emissions (in MT)'].max()
count_co2 = d['CO2_Emissions (in MT)'].count()

# 'Industrial_Waste (in tons)' column
mean_waste = d['Industrial_Waste (in tons)'].mean()
mode_waste = stats.mode(d['Industrial_Waste (in tons)'], keepdims=True).mode[0]
median_waste = d['Industrial_Waste (in tons)'].median()
std_waste = d['Industrial_Waste (in tons)'].std()
var_waste = d['Industrial_Waste (in tons)'].var()
min_waste = d['Industrial_Waste (in tons)'].min()
max_waste = d['Industrial_Waste (in tons)'].max()
count_waste = d['Industrial_Waste (in tons)'].count()

# 'Energy_Recovered (in GWh)' column
mean_energy = d['Energy_Recovered (in GWh)'].mean()
mode_energy = stats.mode(d['Energy_Recovered (in GWh)'], keepdims=True).mode[0]
median_energy = d['Energy_Recovered (in GWh)'].median()
std_energy = d['Energy_Recovered (in GWh)'].std()
var_energy = d['Energy_Recovered (in GWh)'].var()
min_energy = d['Energy_Recovered (in GWh)'].min()
max_energy = d['Energy_Recovered (in GWh)'].max()
count_energy = d['Energy_Recovered (in GWh)'].count()

# 'Renewable_Energy (%)' column
mean_renewable = d['Renewable_Energy (%)'].mean()
mode_renewable = stats.mode(d['Renewable_Energy (%)'], keepdims=True).mode[0]
median_renewable = d['Renewable_Energy (%)'].median()
std_renewable = d['Renewable_Energy (%)'].std()
var_renewable = d['Renewable_Energy (%)'].var()
min_renewable = d['Renewable_Energy (%)'].min()
max_renewable = d['Renewable_Energy (%)'].max()
count_renewable = d['Renewable_Energy (%)'].count()

# 'Plastic_Waste_Produced (in tons)' column
mean_plastic = d['Plastic_Waste_Produced (in tons)'].mean()
mode_plastic = stats.mode(d['Plastic_Waste_Produced (in tons)'], keepdims=True).mode[0]
median_plastic = d['Plastic_Waste_Produced (in tons)'].median()
std_plastic = d['Plastic_Waste_Produced (in tons)'].std()
var_plastic = d['Plastic_Waste_Produced (in tons)'].var()
min_plastic = d['Plastic_Waste_Produced (in tons)'].min()
max_plastic = d['Plastic_Waste_Produced (in tons)'].max()
count_plastic = d['Plastic_Waste_Produced (in tons)'].count()

# 'Energy_Consumption_Per_Capita (in MWh)' column
mean_Consumption = d['Energy_Consumption_Per_Capita (in MWh)'].mean()
mode_Consumption = stats.mode(d['Energy_Consumption_Per_Capita (in MWh)'], keepdims=True).mode[0]
median_Consumption = d['Energy_Consumption_Per_Capita (in MWh)'].median()
std_Consumption = d['Energy_Consumption_Per_Capita (in MWh)'].std()
var_Consumption = d['Energy_Consumption_Per_Capita (in MWh)'].var()
min_Consumption = d['Energy_Consumption_Per_Capita (in MWh)'].min()
max_Consumption = d['Energy_Consumption_Per_Capita (in MWh)'].max()
count_Consumption = d['Energy_Consumption_Per_Capita (in MWh)'].count()

# 'Population (in millions)' column
mean_population = d['Population (in millions)'].mean()
mode_population = stats.mode(d['Population (in millions)'], keepdims=True).mode[0]
median_population = d['Energy_Consumption_Per_Capita (in MWh)'].median()
std_population = d['Population (in millions)'].std()
var_population = d['Population (in millions)'].var()
min_population = d['Population (in millions)'].min()
max_population = d['Population (in millions)'].max()
count_population = d['Population (in millions)'].count()

# 'GDP_Per_Capita (in USD)' column
mean_gdp = d['GDP_Per_Capita (in USD)'].mean()
mode_gdp = stats.mode(d['GDP_Per_Capita (in USD)'], keepdims=True).mode[0]
median_gdp = d['GDP_Per_Capita (in USD)'].median()
std_gdp = d['GDP_Per_Capita (in USD)'].std()
var_gdp = d['GDP_Per_Capita (in USD)'].var()
min_gdp = d['GDP_Per_Capita (in USD)'].min()
max_gdp = d['GDP_Per_Capita (in USD)'].max()
count_gdp = d['GDP_Per_Capita (in USD)'].count()

In [91]:
print(f"CO2 Emissions - \nMean: {mean_co2}, \nMode: {mode_co2}, \nMedian: {median_co2}, \nStd: {std_co2}, \nVar: {var_co2}, \nMin: {min_co2}, \nMax: {max_co2}, \nCount: {count_co2}")
print(f"\nIndustrial Waste - \nMean: {mean_renewable}, \nMode: {mode_renewable}, \nMedian: {median_renewable}, \nStd: {std_renewable}, \nVar: {var_renewable}, \nMin: {min_renewable}, \nMax: {max_renewable}, \nCount: {count_renewable}")
print(f"\nEnergy Recovered - \nMean: {mean_energy}, \nMode: {mode_energy}, \nMedian: {median_energy}, \nStd: {std_energy}, \nVar: {var_energy}, \nMin: {min_energy}, \nMax: {max_energy}, \nCount: {count_energy}")
print(f"\nRenewable Energy - \nMean: {mean_renewable}, \nMode: {mode_renewable}, \nMedian: {median_renewable}, \nStd: {std_renewable}, \nVar: {var_renewable}, \nMin: {min_renewable}, \nMax: {max_renewable}, \nCount: {count_renewable}")
print(f"\nPlastic Waste - \nMean: {mean_plastic}, \nMode: {mode_plastic}, \nMedian: {median_plastic}, \nStd: {std_plastic}, \nVar: {var_plastic}, \nMin: {min_plastic}, \nMax: {max_plastic}, \nCount: {count_plastic}")
print(f"\nEnergy Consumption Per Capita - \nMean: {mean_Consumption}, \nMode: {mode_Consumption}, \nMedian: {median_Consumption}, \nStd: {std_Consumption}, \nVar: {var_Consumption}, \nMin: {min_Consumption}, \nMax: {max_Consumption}, \nCount: {count_Consumption}")    
print(f"\nPopulation - \nMean: {mean_population}, \nMode: {mode_population}, \nMedian: {median_population}, \nStd: {std_population}, \nVar: {var_population}, \nMin: {min_population}, \nMax: {max_population}, \nCount: {count_population}")
print(f"\nGDP Per Capita - \nMean: {mean_gdp}, \nMode: {mode_gdp}, \nMedian: {median_gdp}, \nStd: {std_gdp}, \nVar: {var_gdp}, \nMin: {min_gdp}, \nMax: {max_gdp}, \nCount: {count_gdp}")

CO2 Emissions -
Mean: 24.8781,
Mode: 5.3,
Median: 25.355,
Std: 14.470891919808325,
Var: 209.4067129547739,
Min: 1.92,
Max: 49.69,
Count: 200

Industrial Waste -
Mean: 27.799699999999998,
Mode: 17.7,
Median: 29.17,
Std: 12.361878543149414,
Var: 152.8160411155779,
Min: 5.04,
Max: 49.56,
Count: 200

Energy Recovered -
Mean: 260.44870000000003,
Mode: 440.11,
Median: 273.14,
Std: 147.1419229340628,
Var: 21650.74548473367,
Min: 11.73,
Max: 499.98,
Count: 200

Renewable Energy -
Mean: 27.799699999999998,
Mode: 17.7,
Median: 29.17,
Std: 12.361878543149414,
Var: 152.8160411155779,
Min: 5.04,
Max: 49.56,
Count: 200

Plastic Waste -
Mean: 24492.89355,
Mode: 542.95,
Median: 24121.54,
Std: 14421.356002211007,
Var: 207975508.94250745,
Min: 542.95,
Max: 49852.28,
Count: 200

Energy Consumption Per Capita -
Mean: 9.43575,
Mode: 0.78,
Median: 9.225,
Std: 5.575670087272968,
Var: 31.08809692211055,
Min: 0.53,
Max: 19.98,
Count: 200

Population -
Mean: 104.27130000000001,
Mode: 30.44,
Median: 9.225,
Std: 56.90657395332747,
Var: 3238.3581591055276,
Min: 2.32,
Max: 198.82,
Count: 200

GDP Per Capita -
Mean: 35307.6024,
Mode: 1298.7,
Median: 35043.325,
Std: 19481.71445523607,
Var: 379537198.115354,
Min: 1298.7,
Max: 69143.14,
Count: 200