<h1>Objective :</h1>
<h3>The goal of this project is to analyze global pollution data to understand the relationship between pollution levels (air, water, soil) and energy recovery across different countries. By leveraging the Apriori algorithm, we aim to uncover hidden associations between pollution factors and energy consumption that can guide strategies for pollution control and energy optimization. This dataset will be used for Apriori Algorithm and evaluation/validation techniques.</h3>

<h1>Phase 1<br>Data Preprocessing and Feature Engineering
</h1>contains 2 steps

<h3>Step 1 - Data Import and Cleaning
</h3>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, LabelEncoder
# from sklearn.cluster import KMeans
# from scipy.cluster.hierarchy import dendrogram, linkage, fcluster
# from sklearn.metrics import adjusted_rand_score, r2_score, mean_squared_error, mean_absolute_error, confusion_matrix, ConfusionMatrixDisplay
# from sklearn.cluster import AgglomerativeClustering
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression
# from tensorflow.keras.optimizers import Adam
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense

In [3]:
data=pd.read_csv('Global_Pollution_Analysis.csv')
d=data.copy()
d.head()

,Country,Year,Air_Pollution_Index,Water_Pollution_Index,Soil_Pollution_Index,Industrial_Waste (in tons),Energy_Recovered (in GWh),CO2_Emissions (in MT),Renewable_Energy (%),Plastic_Waste_Produced (in tons),Energy_Consumption_Per_Capita (in MWh),Population (in millions),GDP_Per_Capita (in USD)
0,Hungary,2005,272.70,124.27,51.95,94802.83,158.14,5.30,41.11,37078.88,12.56,42.22,20972.96
1,Singapore,2001,86.72,60.34,117.22,56283.92,498.04,6.34,36.44,33128.20,5.23,137.25,34850.41
2,Romania,2016,91.59,83.36,121.72,56256.02,489.51,49.69,9.38,18803.46,13.15,124.47,57773.15
3,Cook Islands,2018,280.61,67.16,93.58,74864.73,145.18,8.91,18.97,9182.27,0.78,67.80,21837.51
4,Djibouti,2008,179.16,127.53,121.55,76862.06,40.38,14.93,34.00,39235.12,12.84,186.52,41379.37

In [4]:
d.isnull().sum()

Country                                   0
Year                                      0
Air_Pollution_Index                       0
Water_Pollution_Index                     0
Soil_Pollution_Index                      0
Industrial_Waste (in tons)                0
Energy_Recovered (in GWh)                 0
CO2_Emissions (in MT)                     0
Renewable_Energy (%)                      0
Plastic_Waste_Produced (in tons)          0
Energy_Consumption_Per_Capita (in MWh)    0
Population (in millions)                  0
GDP_Per_Capita (in USD)                   0
dtype: int64

Null values do not exist in any column<br>
Now checking for incorrect data

In [5]:
if pd.api.types.is_float_dtype(d['Year']):
    d['Year'] = d['Year'].round().astype(int)

if pd.api.types.is_numeric_dtype(d['Air_Pollution_Index']):
    d['Air_Pollution_Index'] = d['Air_Pollution_Index'].astype(float)
d.loc[d['Air_Pollution_Index'] < 0, 'Air_Pollution_Index'] = abs(d['Air_Pollution_Index'])

if pd.api.types.is_numeric_dtype(d['Water_Pollution_Index']):
    d['Water_Pollution_Index'] = d['Water_Pollution_Index'].astype(float)
d.loc[d['Water_Pollution_Index'] < 0, 'Water_Pollution_Index'] = abs(d['Water_Pollution_Index'])

if pd.api.types.is_numeric_dtype(d['Soil_Pollution_Index']):
    d['Soil_Pollution_Index'] = d['Soil_Pollution_Index'].astype(float)
d.loc[d['Soil_Pollution_Index'] < 0, 'Soil_Pollution_Index'] = abs(d['Soil_Pollution_Index'])

if pd.api.types.is_numeric_dtype(d['Industrial_Waste (in tons)']):
    d['Industrial_Waste (in tons)'] = d['Industrial_Waste (in tons)'].astype(float)
d.loc[d['Industrial_Waste (in tons)'] < 0, 'Industrial_Waste (in tons)'] = abs(d['Industrial_Waste (in tons)'])

if pd.api.types.is_numeric_dtype(d['Energy_Recovered (in GWh)']):
    d['Energy_Recovered (in GWh)'] = d['Energy_Recovered (in GWh)'].astype(float)
d.loc[d['Energy_Recovered (in GWh)'] < 0, 'Energy_Recovered (in GWh)'] = abs(d['Energy_Recovered (in GWh)'])

if pd.api.types.is_numeric_dtype(d['CO2_Emissions (in MT)']):
    d['CO2_Emissions (in MT)'] = d['CO2_Emissions (in MT)'].astype(float)
d.loc[d['CO2_Emissions (in MT)'] < 0, 'CO2_Emissions (in MT)'] = abs(d['CO2_Emissions (in MT)'])

if pd.api.types.is_numeric_dtype(d['Renewable_Energy (%)']):
    d['Renewable_Energy (%)'] = d['Renewable_Energy (%)'].astype(float)
d.loc[d['Renewable_Energy (%)']<0, 'Renewable_Energy (%)'] = 0
d.loc[d['Renewable_Energy (%)']>100, 'Renewable_Energy (%)'] = 100

if pd.api.types.is_numeric_dtype(d['Plastic_Waste_Produced (in tons)']):
    d['Plastic_Waste_Produced (in tons)'] = d['Plastic_Waste_Produced (in tons)'].astype(float)
d.loc[d['Plastic_Waste_Produced (in tons)'] < 0, 'Plastic_Waste_Produced (in tons)'] = abs(d['Plastic_Waste_Produced (in tons)'])

if pd.api.types.is_numeric_dtype(d['Energy_Consumption_Per_Capita (in MWh)']):
    d['Energy_Consumption_Per_Capita (in MWh)'] = d['Energy_Consumption_Per_Capita (in MWh)'].astype(float)
d.loc[d['Energy_Consumption_Per_Capita (in MWh)'] < 0, 'Energy_Consumption_Per_Capita (in MWh)'] = abs(d['Energy_Consumption_Per_Capita (in MWh)'])

if pd.api.types.is_numeric_dtype(d['Population (in millions)']):
    d['Population (in millions)'] = d['Population (in millions)'].astype(float)
d.loc[d['Population (in millions)'] < 0, 'Population (in millions)'] = abs(d['Population (in millions)'])

if pd.api.types.is_numeric_dtype(d['GDP_Per_Capita (in USD)']):
    d['GDP_Per_Capita (in USD)'] = d['GDP_Per_Capita (in USD)'].astype(float)
d.loc[d['GDP_Per_Capita (in USD)'] < 0, 'GDP_Per_Capita (in USD)'] = abs(d['GDP_Per_Capita (in USD)'])

In [6]:
d

,Country,Year,Air_Pollution_Index,Water_Pollution_Index,Soil_Pollution_Index,Industrial_Waste (in tons),Energy_Recovered (in GWh),CO2_Emissions (in MT),Renewable_Energy (%),Plastic_Waste_Produced (in tons),Energy_Consumption_Per_Capita (in MWh),Population (in millions),GDP_Per_Capita (in USD)
0,Hungary,2005,272.70,124.27,51.95,94802.83,158.14,5.30,41.11,37078.88,12.56,42.22,20972.96
1,Singapore,2001,86.72,60.34,117.22,56283.92,498.04,6.34,36.44,33128.20,5.23,137.25,34850.41
2,Romania,2016,91.59,83.36,121.72,56256.02,489.51,49.69,9.38,18803.46,13.15,124.47,57773.15
3,Cook Islands,2018,280.61,67.16,93.58,74864.73,145.18,8.91,18.97,9182.27,0.78,67.80,21837.51
4,Djibouti,2008,179.16,127.53,121.55,76862.06,40.38,14.93,34.00,39235.12,12.84,186.52,41379.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Latvia,2004,115.84,78.75,42.34,49503.35,81.23,4.85,17.38,4065.66,6.28,92.96,14818.18
196,Bangladesh,2002,121.82,120.97,63.95,74694.68,25.89,46.22,16.56,36905.26,15.18,114.02,59238.04
197,Korea,2011,149.73,146.92,37.04,2818.85,293.27,38.46,38.36,24700.29,14.11,183.06,28895.94
198,Vanuatu,2002,237.20,113.63,101.96,68746.82,305.61,28.82,32.17,1443.62,12.44,40.65,17068.01
199,Croatia,2010,135.50,158.43,89.80,36182.44,172.24,5.55,45.96,45405.35,11.72,166.62,30304.59

In [7]:
s=StandardScaler()
d['Air_Pollution_Index_Scaled'] = s.fit_transform(d[['Air_Pollution_Index']])
d['Water_Pollution_Index_Scaled'] = s.fit_transform(d[['Water_Pollution_Index']])
d['Soil_Pollution_Index_Scaled'] = s.fit_transform(d[['Soil_Pollution_Index']])
d['CO2_Emissions_Scaled'] = s.fit_transform(d[['CO2_Emissions (in MT)']])
d['Industrial_Waste_Scaled'] = s.fit_transform(d[['Industrial_Waste (in tons)']])

In [8]:
d

,Country,Year,Air_Pollution_Index,Water_Pollution_Index,Soil_Pollution_Index,Industrial_Waste (in tons),Energy_Recovered (in GWh),CO2_Emissions (in MT),Renewable_Energy (%),Plastic_Waste_Produced (in tons),Energy_Consumption_Per_Capita (in MWh),Population (in millions),GDP_Per_Capita (in USD),Air_Pollution_Index_Scaled,Water_Pollution_Index_Scaled,Soil_Pollution_Index_Scaled,CO2_Emissions_Scaled,Industrial_Waste_Scaled
0,Hungary,2005,272.70,124.27,51.95,94802.83,158.14,5.30,41.11,37078.88,12.56,42.22,20972.96,1.376167,0.193880,-0.619764,-1.356325,1.543328
1,Singapore,2001,86.72,60.34,117.22,56283.92,498.04,6.34,36.44,33128.20,5.23,137.25,34850.41,-1.403578,-1.153098,1.028744,-1.284276,0.124915
2,Romania,2016,91.59,83.36,121.72,56256.02,489.51,49.69,9.38,18803.46,13.15,124.47,57773.15,-1.330788,-0.668076,1.142400,1.718910,0.123888
3,Cook Islands,2018,280.61,67.16,93.58,74864.73,145.18,8.91,18.97,9182.27,0.78,67.80,21837.51,1.494394,-1.009403,0.431675,-1.106232,0.809131
4,Djibouti,2008,179.16,127.53,121.55,76862.06,40.38,14.93,34.00,39235.12,12.84,186.52,41379.37,-0.021926,0.262567,1.138106,-0.689181,0.882681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Latvia,2004,115.84,78.75,42.34,49503.35,81.23,4.85,17.38,4065.66,6.28,92.96,14818.18,-0.968336,-0.765207,-0.862482,-1.387500,-0.124771
196,Bangladesh,2002,121.82,120.97,63.95,74694.68,25.89,46.22,16.56,36905.26,15.18,114.02,59238.04,-0.878956,0.124351,-0.316683,1.478517,0.802869
197,Korea,2011,149.73,146.92,37.04,2818.85,293.27,38.46,38.36,24700.29,14.11,183.06,28895.94,-0.461800,0.671106,-0.996342,0.940922,-1.843872
198,Vanuatu,2002,237.20,113.63,101.96,68746.82,305.61,28.82,32.17,1443.62,12.44,40.65,17068.01,0.845568,-0.030300,0.643326,0.273086,0.583847
199,Croatia,2010,135.50,158.43,89.80,36182.44,172.24,5.55,45.96,45405.35,11.72,166.62,30304.59,-0.674489,0.913617,0.336204,-1.339005,-0.615298

In [9]:
le = LabelEncoder()
d['Country_Label'] = le.fit_transform(d['Country'])
d['Year_Label'] = le.fit_transform(d['Year'])

In [10]:
d

,Country,Year,Air_Pollution_Index,Water_Pollution_Index,Soil_Pollution_Index,Industrial_Waste (in tons),Energy_Recovered (in GWh),CO2_Emissions (in MT),Renewable_Energy (%),Plastic_Waste_Produced (in tons),Energy_Consumption_Per_Capita (in MWh),Population (in millions),GDP_Per_Capita (in USD),Air_Pollution_Index_Scaled,Water_Pollution_Index_Scaled,Soil_Pollution_Index_Scaled,CO2_Emissions_Scaled,Industrial_Waste_Scaled,Country_Label,Year_Label
0,Hungary,2005,272.70,124.27,51.95,94802.83,158.14,5.30,41.11,37078.88,12.56,42.22,20972.96,1.376167,0.193880,-0.619764,-1.356325,1.543328,77,5
1,Singapore,2001,86.72,60.34,117.22,56283.92,498.04,6.34,36.44,33128.20,5.23,137.25,34850.41,-1.403578,-1.153098,1.028744,-1.284276,0.124915,147,1
2,Romania,2016,91.59,83.36,121.72,56256.02,489.51,49.69,9.38,18803.46,13.15,124.47,57773.15,-1.330788,-0.668076,1.142400,1.718910,0.123888,136,16
3,Cook Islands,2018,280.61,67.16,93.58,74864.73,145.18,8.91,18.97,9182.27,0.78,67.80,21837.51,1.494394,-1.009403,0.431675,-1.106232,0.809131,38,18
4,Djibouti,2008,179.16,127.53,121.55,76862.06,40.38,14.93,34.00,39235.12,12.84,186.52,41379.37,-0.021926,0.262567,1.138106,-0.689181,0.882681,46,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Latvia,2004,115.84,78.75,42.34,49503.35,81.23,4.85,17.38,4065.66,6.28,92.96,14818.18,-0.968336,-0.765207,-0.862482,-1.387500,-0.124771,92,4
196,Bangladesh,2002,121.82,120.97,63.95,74694.68,25.89,46.22,16.56,36905.26,15.18,114.02,59238.04,-0.878956,0.124351,-0.316683,1.478517,0.802869,13,2
197,Korea,2011,149.73,146.92,37.04,2818.85,293.27,38.46,38.36,24700.29,14.11,183.06,28895.94,-0.461800,0.671106,-0.996342,0.940922,-1.843872,88,11
198,Vanuatu,2002,237.20,113.63,101.96,68746.82,305.61,28.82,32.17,1443.62,12.44,40.65,17068.01,0.845568,-0.030300,0.643326,0.273086,0.583847,170,2
199,Croatia,2010,135.50,158.43,89.80,36182.44,172.24,5.55,45.96,45405.35,11.72,166.62,30304.59,-0.674489,0.913617,0.336204,-1.339005,-0.615298,41,10

<h3>Step 2 - Feature Engineering</h3>

In [11]:
d['Total_Pollution_Index'] = d[['Air_Pollution_Index_Scaled', 'Water_Pollution_Index', 'Soil_Pollution_Index']].mean(axis=1)

yearly_pollution_trend = d.groupby('Year')['Total_Pollution_Index'].mean().reset_index()
yearly_pollution_trend.rename(columns={'Total_Pollution_Index': 'Yearly_Avg_Pollution_Index'}, inplace=True)

d = d.merge(yearly_pollution_trend, on='Year', how='left')

d.head()

,Country,Year,Air_Pollution_Index,Water_Pollution_Index,Soil_Pollution_Index,Industrial_Waste (in tons),Energy_Recovered (in GWh),CO2_Emissions (in MT),Renewable_Energy (%),Plastic_Waste_Produced (in tons),...,GDP_Per_Capita (in USD),Air_Pollution_Index_Scaled,Water_Pollution_Index_Scaled,Soil_Pollution_Index_Scaled,CO2_Emissions_Scaled,Industrial_Waste_Scaled,Country_Label,Year_Label,Total_Pollution_Index,Yearly_Avg_Pollution_Index
0,Hungary,2005,272.70,124.27,51.95,94802.83,158.14,5.30,41.11,37078.88,...,20972.96,1.376167,0.193880,-0.619764,-1.356325,1.543328,77,5,59.198722,60.384772
1,Singapore,2001,86.72,60.34,117.22,56283.92,498.04,6.34,36.44,33128.20,...,34850.41,-1.403578,-1.153098,1.028744,-1.284276,0.124915,147,1,58.718807,51.545226
2,Romania,2016,91.59,83.36,121.72,56256.02,489.51,49.69,9.38,18803.46,...,57773.15,-1.330788,-0.668076,1.142400,1.718910,0.123888,136,16,67.916404,69.102526
3,Cook Islands,2018,280.61,67.16,93.58,74864.73,145.18,8.91,18.97,9182.27,...,21837.51,1.494394,-1.009403,0.431675,-1.106232,0.809131,38,18,54.078131,64.828293
4,Djibouti,2008,179.16,127.53,121.55,76862.06,40.38,14.93,34.00,39235.12,...,41379.37,-0.021926,0.262567,1.138106,-0.689181,0.882681,46,8,83.019358,59.278146

In [12]:
# Define thresholds for categorization
def categorize_severity(value, low, high):
    if value < low:
        return 'Low'
    elif value < high:
        return 'Medium'
    else:
        return 'High'

# Example thresholds (adjust as needed based on data distribution)
air_low, air_high = d['Air_Pollution_Index'].quantile([0.33, 0.66])
water_low, water_high = d['Water_Pollution_Index'].quantile([0.33, 0.66])

d['Air_Pollution_Severity'] = d['Air_Pollution_Index'].apply(lambda x: categorize_severity(x, air_low, air_high))
d['Water_Pollution_Severity'] = d['Water_Pollution_Index'].apply(lambda x: categorize_severity(x, water_low, water_high))

<h1>Phase 2:<br>Apriori Algorithm for Market Basket Analysis
</h1>(3 Steps)

<h3>Step 3 - Introduction to Apriori Algorithm</h3>